button {
  background-color: transparent;
  border: 0.5px solid rgb(205, 205, 205);
  text-align: start;
  padding: 0.75em;
  font-size: 1em;
}

button:hover {
  background-color: rgb(236, 239, 240);
  border-color: white;
  cursor: pointer;
}

.DropdownComponent-full {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  margin: 12px;
  padding: 8px;
  width: 40%;
}

.DropdownComponent-title-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.DropdownComponent-title-div:hover {
  cursor: pointer;
}

h3.DropdownComponent-title {
  margin-top: 8px;
  margin-bottom: 8px;
}

.box {
  display: flex;
  height: 200px;
  flex-direction: column;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 2px;
  margin: 0px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.DropdownComponent-drop-arrow {
  border: none;
  margin: 0 0 0 12px;
  padding: 0px;
}

.DropdownComponent-dropped-vals {
  display: flex;
  flex: 1;
  overflow: auto;
  flex-direction: column;
  border: 1px solid rgb(77, 76, 76);
  box-shadow: 5px 10px 5px rgb(0, 0, 0, 0.2);
  border-radius: 5px;
}

.DropdownOption-selected {
  background-color: rgb(236, 239, 240);
  border-color: white;
}

.DropdownComponent-selections {
  margin-top: 24px;
  margin-bottom: 12px;
}
